body{
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1rem;
	box-sizing: border-box;
}

.clr {
	clear: both;
}

.nav-bckgrnd {
	
	opacity:0.5;
	grid-row: 1 / span 2;
	grid-column: 1 / last-line;
	background-color: white;
	
}

.nav{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr; 
	grid-row: 1 / span 2;
	grid-column: 2 / span 6;
	list-style: none; 
	z-index:1;
	overflow: ;
	justify-self: stretch;


}
.nav a {
	border-radius: 15%;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
	font-size: 1em;	
	padding : 0.5em 0.8em;
	place-self: center;
	background-color: #bb1a25;
	opacity:0.7;
}

.nav a:hover {
	
	border-radius: 15%;
	color: #bb1a25;
	text-align: center;
	text-decoration: none;
	font-size: 1em;	
	padding : 0.5em 0.8em;
	place-self: center;
	background-color: #EEE;
	opacity:0.7;
	box-shadow: 0 0 15px 5px rgba(0,0,0,0.75);
}

.brand-logo{
	display:none;
	grid-row: 1 / span 2;
	grid-column: 1 / span 1;
	border: 1px solid;
	z-index:1;
}

.nav-right-side {
	grid-row: 1 / span 2;
	grid-column: 10 / span 2;
	background-color: white;
	z-index:1;
	border-radius: 40%;
	opacity:0.7;
	text-align: center;
	font-size: 25.5vw;
	color: #bb1a25;

}

#general-container {
	position: relative;
	background-image: url(../images/blood-drop/blood_01.jpg);
	background-color: tomato;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
    height: 100vh;
	display : grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 2% 10% 5% repeat(5, 1fr) 5% 5%;
}

#top-banner {
	display : none;
	grid-row: 1 / span 1;
	grid-column: 1 / last-line;
	background-color: yellow;
}

#head-banner {
	display : none;
	grid-row: 3 / span 1;
	grid-column: 1 / last-line;
	background-color: yellow;
}

#content{
	position : relative;
	background-color: white;
	opacity:0.7;
	box-shadow: 12px 12px 24px 2px rgba(0,0,0,0.75);
	color:#8C1500;
	text-align: center;
	grid-row: 4 / span 5;
	grid-column: 2 / span 6;
}

#aside{
	color:#8C1500;
	text-align: center;
	opacity:0.5;
	grid-row: 4 / span 4;
	grid-column: 9 / span 3;
	background-color: #007bff;
	box-shadow: 12px 12px 24px 1px rgba(0,0,0,0.75);
}

#footer{

	bottom:0.05em;
	background-color: black;
	color: white;	
	text-align: center;
	opacity:0.8;
	grid-row: 10 / span 1;
	grid-column: 1 / last-line;
}

#temp{
	height :80%;
	background-color: tomato;

}

@media screen and (max-width: 770px) {
	
	#general-container {
		position: relative;
		background-image: url(../images/blood-drop/blood_01.jpg);
		background-color: tomato;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 150vh;
		display : grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 2% 10% 5% 0.5fr 0.5fr repeat(4, 1fr) 5% 5%;
	}
	
	#aside{
		color:#8C1500;
		text-align: center;
		opacity:0.5;
		grid-row: 6 / span 1;
		grid-column: 2/ span 10;
		background-color: #007bff;
		box-shadow: 12px 12px 24px 1px rgba(0,0,0,0.75);
	}
	
	#content{
		background-color: white;
		opacity:0.7;
		box-shadow: 12px 12px 24px 2px rgba(0,0,0,0.75);
		color:#8C1500;
		text-align: center;
		grid-row: 7 / span 3;
		grid-column: 2 / span 10;
	}
	
	#footer{
		bottom:0.05em;
		background-color: black;
		color: white;	
		text-align: center;
		opacity:0.8;
		grid-row: 11 / span 1;
		grid-column: 1 / last-line;
	}
	
	.nav{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr); 
		grid-row: 1 / span 4;
		grid-column: 2 / span 10;
		z-index:1;
		overflow: hidden;
		

	}
	.nav a {
		
		border-radius: 15%;
		color: #f2f2f2;
		text-align: center;
		text-decoration: none;
		font-size: 1em;	
		padding : 0.5em 0.8em;
		place-self: stretch;
		background-color: #bb1a25;
		opacity:0.7;
	}

	.nav a:hover {
		
		border-radius: 15%;
		color: #bb1a25;
		text-align: center;
		text-decoration: none;
		font-size: 1em;	
		padding : 0.5em 0.8em;
		place-self: stretch;
		background-color: #EEE;
		opacity:0.7;
	}
	
	.nav-right-side {
		grid-row: 5 / span 1;
		grid-column: 2/ span 10;
		background-color: white;
		z-index:1;
		border-radius: 40%;
		opacity:0.7;
		text-align: center;
		font-size: 25.5vw;
		color: #bb1a25;
		place-self: center stretch;
	}
}
