{% extends '../cstm_base.html' %} 
{% load static %}

{% block extra_head_css %}
		<link rel="stylesheet" type="text/css" href="{% static 'vud/css/home.css' %}">
{% endblock %}
	
{% block content %}

	{% if error_message %}
	<div class="wrapper notes"> messgages <p><strong>{{ error_message }}</strong></p> </div>
	{% endif %}
	
	<div class="clr"></div>
	
	<div class="wrapper white_wrapper">
		edit
	</div>
	

	<div class="short_wrapper blue_wrapper">
		login
	</div> 

	
	<div class="clr"></div>
	
{% endblock %}