{% load static %}
<!DOCTYPE html>

{% block title %}
	<title>Page Title</title>
{% endblock %}

{% block head %}
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'base/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'base/css/styles.css' %}">
		
		{% block extra_head_css %}{% endblock %}
		
		<!-- JS -->
		<script type="text/javascript" language="Javascript" src="{% static 'base/js/jquery-3.4.1.min.js' %}"></script> 
		<script type="text/javascript" language="Javascript" src="{% static 'base/js/bootstrap.bundle.min.js' %}"></script> 
		
		{% block extra_head_js %}{% endblock %}
		
	</head>
{% endblock %}

<body>

{% block body %}
<div class="bckgrnd">
	
	<header>		
		{% block header_logo %}
			<div class="header_logo"><h4><strong>Donate</strong><br> Save life</h4></div>
		{% endblock %}
		
		
		<nav>
			<ul>			
			{% block nav %}
				<li><a href="{% url 'vud:home' %}"> Home </a></li>

				<li><a href="#news"> News </a></li>

				<li><a href="#contact"> Contact </a></li>

				<li><a href="#about"> About</a></li>
			{% endblock %}	
			</ul>
		</nav>
		

		{% block header_login%}
			
			<div class="header_login">
				<button type="button" class="btn btn-light" onclick="window.location.href='{% url 'vud:create_req' %}'">create event</button>
				<button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'vud:home' %}'">login</button>
			</div>
		{% endblock %}
	</header>

	<div class="main_container">

		{% block content%}									
				
		{% endblock %}

	</div>
		

	<footer>
		{% block footer %}
			 <!-- Copyright -->
			  <div id="contact" class="footer-copyright">© 2020 Copyright:
				<a href="#"> vudproject.com</a>
			  </div>
		{% endblock %}
	</footer>

</div>
{% endblock %}

</body>

</html>